@page "/"
@inject FPLRepository _fplRepository
@inject PythonRepository _pythonRepository

<h1>FPL Assistant</h1>

<MudButton OnClick="GetPlayerData">Get Player Data</MudButton>

@if (activePlayerData != null)
{
    <MudText>Player Name: @activePlayerData.FirstName @activePlayerData.LastName</MudText>
    <MudText>Goals: @activePlayerData.Goals</MudText>
    <MudText>Assists: @activePlayerData.Assists</MudText>
    <MudText>Points: @activePlayerData.TotalPoints</MudText>
    <MudText>Cost: @FormatCost(activePlayerData.Cost)</MudText>
}

<MudButton OnClick="QueryPythonBackend">Send Message to Python</MudButton>

@if (message != null)
{
    <MudText>@message</MudText>
}


@code {
    PlayerData activePlayerData;
    string message;

    public async Task<bool> GetPlayerData()
    {
        PlayerData playerData = await _fplRepository.GetPlayerData();

        if (playerData != null)
        {
            activePlayerData = playerData;
            await InvokeAsync(StateHasChanged);
            return true;
        } 
        return false;
    }

    public string FormatCost(int cost)
    {
        double decimalCost = (double)cost / 10;

        return $"£{decimalCost}m";
    }

    public async Task<bool> QueryPythonBackend()
    {
        string responseMessage = await _pythonRepository.SendMessage();

        if (responseMessage != null)
        {
            message = responseMessage;
            await InvokeAsync(StateHasChanged);
            return true;
        }
        return false;
    }
}
